.chat{
  height: 700px;
}

.text-dec{
  text-decoration: none;
  color: black
}

.container-height{
  height: 100vh
}

.container-chat {
    display: flex;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,193,233,1) 80%, rgba(148,190,230,1) 100%);
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    background: rgb(238,174,202);
    background: linear-gradient(270deg, rgba(238,174,202,1) 0%, rgba(148,193,233,1) 80%, rgba(148,190,230,1) 100%);
  }

  .time-right {
    margin-left: auto;
    font-size: small;
    font-style: italic;
  }

  .wordwrap{
    word-break: break-word;
  }
